<%= form_for(@book) do |f| %>
	<div class="field row">
		<%= f.label :title %>
		<%= f.text_field :title, class: "col-xs-12 book_title" %>
	</div>

	<div class="field row">
		<%= f.label :opinion %> <!-- ここを変更 -->
		<%= f.text_area :body, class: "col-xs-12 book_body" %>
	</div>

	<div class="actions row">
        <%# if controller.action_name == 'new' %>
		<%= f.submit class: "btn btn-default btn-block btn btn-primary col-xs-12" %>
        <%# else controller.action_name == 'edit' %>
		<!-- <input class="btn btn-default btn-block btn btn-primary col-xs-12"type="submit" value='Update Book' %> -->
		<%# end %>
	</div>
<% end %>